.div_card
{
    width: 500px;
    height: fit-content;
    background-color: rgb(249, 146, 174);
    border-radius: 25px;
    border: solid 5px#020202;
    margin: 20px;
}

.div_circle
{
    width: 100px; 
    height: 100px;
    background-color: rgb(142, 12, 81);
    border-radius: 50px;
}

.h1_texto
{
    font-family: 'Franklin Gothic Medium',
    'Arial Narrow', Arial, sans-serif; 
    font-size: 30px;
}
